.titleBar{
  position: sticky;
  top: 0;
  display: flex;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(20, 20, 20, 0.5);
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.navigatorBtn{
  padding: 4px 7px;
}

.aspectsBtn{
  width: 800px;
  padding: 4px;
  margin: 10px auto 5px;
  display: block;
}

.disabledBtn{
  background-color: #485459; 
  border-color: #374348
}

.btnContainer{
  margin: 0;
  padding: 5px;
}

.content{
  width: 1000px;
  padding: 5px;
  border-radius: 10px;
  margin: 20px auto;
}
.contentGrid{
  width: 1000px;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
  display: grid;
  gap: 15px;
}

.gridImg{
  width: 100%;
  height: 100%;
  width: 1fr;
  border-radius: 10px;
}
.divHeader{
  display: flex;
  padding: 5px;
  border-radius:10px;
  justify-content: space-between;
  margin-top: 0;
  background-color: #ffffff;
  grid-column-start: 1;
  grid-column-end: 3;
}

.iconContainer{
  margin: 0;
  padding: 5px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
}

.icon{
  width: 24px;
  height: 24px;
  padding: 0 5px 0;  
}

.GO{
  display: flex;
  width: 95px;
  height: 95px;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.statisticDiv{
  display: flex;
  padding: 5px;
  border-radius:10px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.centered{
  text-align: center;
}

body{
  font-family: "Inter", sans-serif;
  padding: 0;
}

div{
  background-color: #e6e6e6;
}

p{
  margin: 4px 10px;
}
h1{
  font-size: 26px;
  margin: 4px 10px;
}

h2{
  font-size: 20px;
  font-weight: 600;
  margin: 4px 10px;
}

h3{
  font-size: 3em;
  margin: 8px;
}

a{
  color: #45ad68;
}

button{
  border-radius: 7px;
  border-color: #40B767;
  background-color: #50C878;
  color: white;
  font-size: 20px;
}

ol{
  font-size: 1.5em;
  margin: 8px;
}

::-webkit-scrollbar {
  width: 0;
}
