.titleBar{
  position: sticky;
  top: 0;
  display: flex;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(20, 20, 20, 0.5);
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.navigatorBtn{
  padding: 4px 7px;
}

.navigatorBtn:hover{
  transform: scale(105%);
}

.aspectsBtn{
  width: 580px;
  padding: 4px;
  margin: 10px auto;
  display: block;
}

.aspectsBtn:hover{
  transform: scale(102%);
}

.disabledBtn{
  background-color: #485459; 
  border-color: #374348
}

.disabledBtn:hover{
  transform: scale(100%);
}

.btnContainer{
  margin: 0;
  padding: 5px;
}

.content{
  padding: 5px;
  border-radius: 10px;
  margin: 20px 200px;
  text-align: justify;
}

.contentGrid{
  padding: 10px;
  border-radius: 10px;
  margin: 20px 200px;
  display: grid;
  gap: 15px;
}

.gridImg{
  width: 100%;
  height: 100%;
  width: 1fr;
  border-radius: 10px;
}

.divHeader{
  display: flex;
  padding: 5px;
  border-radius:10px;
  justify-content: space-between;
  margin-top: 0;
  background-color: #ffffff;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: left;
}

.iconContainer{
  margin: 0;
  padding: 5px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
}

.icon{
  width: 24px;
  height: 24px;
  padding: 0 5px 0;  
}

.GO{
  display: flex;
  width: 95px;
  height: 95px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.GO:hover{
  transform: scale(105%);
}

.goContainer{
  display: flex; 
  background-color: white; 
  border-radius: 10px; 
  padding: 5px 20px; 
  align-self: normal; 
}

.aspectsCard{
  display: flex; 
  justify-content: space-between; 
  padding-top: 5px;
  min-height: 220px;
}

.statisticDiv{
  display: flex;
  padding: 5px;
  border-radius:10px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.centered{
  text-align: center;
}

.captivePortal{
  background-color: lightyellow;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow:0px 5px 5px rgba(20, 20, 20, 0.5);
  transition: 0.5s;
}

.captivePortal:focus-within{
  transform: scale(102%);
  transition: 1s;
}

.screenshot{
  width: 300px;
  border-style: double;
  border-color: black;
  border-width: 5px;
  margin: 20px;
  transition: 0.5s;
}

.screenshot:hover{
  width: 450px;
  transition: 1s;
}

body{
  font-family: "Inter", sans-serif;
  padding: 0;
  margin-top: 0;
}

div{
  background-color: #e6e6e6;
}

p{
  font-size: 1rem;
  margin: 4px 10px;
}

h1{
  font-size: 2rem;
  margin: 4px 10px;
  text-align: center;
}

h2{
  font-size: 1.5rem;
  font-weight: 600;
  margin: 4px 10px;
}

h3{
  font-size: 3rem;
  margin: 4px 8px;
}

h5{
 margin: 10px;
}

a{
  color: #45ad68;
}

button{
  border-radius: 7px;
  border-color: #40B767;
  background-color: #50C878;
  color: white;
  font-size: 20px;
  transition: 0.3s;
}

ol{
  font-size: 1.5em;
  margin: 8px;
  text-align: left;
}

ul{
  text-align: left;
}

::-webkit-scrollbar{
  width: 0;
}

@media screen and (max-width: 1100px){
  body{
    background-color: peru;
  }

  .content{
    margin: 20px 100px;
  }

  .contentGrid{
    margin: 20px 100px;
  }

  .aspectsBtn{
    width: 400px;
  }

  .navigatorBtn{
    padding: 4px 35px;
  }

  @media screen and (max-width: 900px){
    body{
      background-color: dodgerblue;
    }

    .aspectsCard{   
      flex-direction: column;
    }

    .content{
      margin: 20px 30px;
    }

    .contentGrid{
      margin: 20px 30px
    }

    .titleBar{
      flex-direction: column;
    }

    .navigatorBtn{
      padding: 4px 45px;
    }

    .aspectsBtn{
      width: 200px;
    }

    .aspectsBtn:hover{
      transform: scale(105%);
    }

  }

}
