/*CLASSES*/

/*CLASSES FOR HEADER/MENUBAR AND RELATED ELEMENTS*/
/*header/navigation bar*/
.titleBar{
  position: sticky;
  top: 0;
  display: flex;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(20, 20, 20, 0.5);
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}
/*container for navigator buttons (below)*/
.btnContainer{
  margin: 0;
  padding: 6px;
}
/*Style and hover pseudoclass for navigator buttons in header bar*/
.navigatorBtn{
  padding: 4px 7px;
}
.navigatorBtn:hover{
  transform: scale(105%);
}
/*Style and hover pseudoclass for wide button that leads to aspects page*/
.aspectsBtn{
  margin: 10px 100px;
  text-align: center;
}
.aspectsBtn:hover{
  transform: scale(102%);
}
/*disabled button*/
.disabledBtn{
  background-color: #485459; 
  border-color: #374348;
}
/*prevents disabled button from enlarging when hovered over*/


/*CLASSES FOR GENERAL ELEMENTS*/
/*generic, styled container for text etc.*/
.content{
  padding: 5px;
  border-radius: 10px;
  margin: 20px 200px;
  text-align: justify;
  display: flex;
  flex-direction: column;
}
/*header intended to go inside generic container(above)*/
.divHeader{
  display: flex;
  padding: 5px;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: left;
}
/*links that look like buttons (sneaky, I know) and :hover pseudoclass*/
.button{
  display: inline-block;
  border-radius: 7px;
  border-style: solid;
  border-color: #40B767;
  background-color: #50C878;
  color: white;
  font-size: 1.3rem;
  transition: 0.3s;
  text-decoration: none;
}
.button[aria-disabled = "true"]{
  background-color: #485459; 
  border-color: #374348;
  transform: scale(100%);
}

/*CLASSES FOR GRID AND RELATED ELEMENTS*/
/*container for grid*/
.contentGrid{
  padding: 10px;
  border-radius: 10px;
  margin: 20px 200px;
  display: grid;
  gap: 15px;
}
/*image formatted to fit in grid*/
.gridImg{
  width: 100%;
  height: 100%;
  width: 1fr;
  border-radius: 10px;
}
/*div formatted to fit in grid*/
.statisticDiv{
  display: flex;
  padding: 5px;
  border-radius:10px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
/*wider div (takes up 2 columns) formatted for the grid. dedicated class for responsive layout*/
.statisticDivWide{
  display: flex;
  padding: 5px;
  border-radius:10px;
  justify-content: center;
  align-items: center;
  background-color: white;
  grid-column-start: 1; 
  grid-column-end: 3;
}


/*CLASSES FOR ASPECTS PAGE AND RELATED ELEMENTS*/
/*small container for icons*/
.iconContainer{
  margin: 0 1px 0 0;
  padding: 5px;
  display: flex;
  border-radius: 4px;
  justify-content: center;
}
/*standard icon. 1.5rem = 24px = standard resolution of the MD3 icons used*/
.icon{
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 5px 0;  
}
/*fits inside .container, under .divHeader. for responsive layout of aspecy cards in aspects.html.*/
.aspectsCard{
  display: flex; 
  justify-content: space-between; 
  padding-top: 5px;
  min-height: 220px;
}
/*responsive container for holding GO button (below)*/
.goContainer{
  display: flex; 
  background-color: white; 
  border-radius: 10px; 
  padding: 5px 20px; 
  align-self: normal; 
}
/*Style and hover pseudoclass for "GO" button that leads to aspect page*/
.GO{
  display: flex;
  min-width: 95px;
  height: 95px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.GO:hover{
  transform: scale(105%);
}


/*CLASSES FOR INTERACTIVE ELEMENTS*/
/*Style and focus-within pseudoclass for the fake captive portal in connections.html*/
.captivePortal{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow:0px 5px 5px rgba(20, 20, 20, 0.5);
  transition: 0.5s;
  color: black;
}
.captivePortal:focus-within{
  transform: scale(102%);
  transition: 1s;
}
/*style and hover pseudoclass for the screenshot of an email in phishing.html*/
.screenshot{
  width: 19rem;
  border-style: double;
  border-color: black;
  border-width: 5px;
  margin: 20px;
  transition: 0.5s;
}
.screenshot:hover{
  width: 28rem;
  transition: 1s;
}

/*DARKMODE STYLES*/
/*Darkmode base colour*/
.dark,
.dark .divHeader,
.dark .statisticDiv,
.dark .statisticDivWide{
  background-color: #0e1116;
  color: white;
}

/*Darkmode accent colour*/
.dark .aspectsCard,
.dark p,
.dark div{
  background-color: #272c35;
  color: white;
}

/* Footer-specific styles */
.dark footer > p{
  color: rgba(255, 255, 255, 0.5);
  background: none;
}

/* Icon style in dark mode */
.dark .icon{
  filter: invert(1) brightness(2);
}

/*ELEMENTS*/

body{
  font-family: "Inter", sans-serif;
  padding: 0;
  margin-top: 0;
}

div{
  background-color: #e6e6e6;
}

p{
  font-size: 1rem;
  margin: 4px 10px;
}

h1{
  font-size: 2rem;
  margin: 4px 10px;
  text-align: center;
}

h2{
  font-size: 1.5em;
  font-weight: 600;
  margin: 4px 10px;
}

h3{
  font-size: 3rem;
  margin: 4px 8px;
}

h5{
 margin: 10px;
 font-size: 0.8rem;
}

a{
  color: #45ad68;
}

ol{
  font-size: 1.5rem;
  margin: 8px;
  text-align: left;
}

ul{
  text-align: left;
}

label{
  font-size: 0.8rem;
}

input[type = "password"], input[type = "email"], input[type = "text"]{
  height: 1rem;
  width: 15rem;
  font-size: 0.8rem;
}

input[type = "submit"], input[type = "reset"]{
  font-size: 0.8rem;
}

input::placeholder{
  font-size: 0.8rem;
}

input[type = "checkbox"]{
  accent-color: #50C878;
  width: 1rem;
  height: 1rem;
}

footer{
font-size: 0.6rem;
color: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: space-between;
position: fixed;
bottom: 0;
left: 0;
border-radius: 5px 5px 5px 0;
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
transform: scale(80%);
transform-origin: left bottom;
}

/*RESPONSIVE LAYOUT*/

/*removes scrollbar that messes up layout by setting its width to 0*/
::-webkit-scrollbar{
  width: 0;
}

/*responsive layout breakpoints and modifications*/
@media screen and (max-width: 1300px){
  html{
    font-size: 18px;
  }

  .content{
    margin: 20px 100px;
  }

  .contentGrid{
    margin: 20px 300px;
  }

  .aspectsBtn{
    margin: 10px 50px;
  }

  .navigatorBtn{
    padding: 4px 35px;
  }

  .statisticDiv{
    font-size: 0.8rem;
  }

  .statisticDivWide{
    grid-column-end: 2;
    font-size: 0.8rem;
  }

  .divHeader{
    grid-column-end: 2;
  }    
  
  .screenshot{
    width: 21rem;
  }
  
  .screenshot:hover{
    width: 21rem;
  }

  @media screen and (max-width: 1000px){
    html{
      font-size: 37.5px;
    }

    input[type = "password"], input[type = "email"]{
      border-radius: 5px;
    }

    .aspectsCard{   
      flex-direction: column;
    }

    .content{
      margin: 20px 30px;
    }

    .contentGrid{
      margin: 20px 30px
    }

    .titleBar{
      flex-direction: column;
    }

    .navigatorBtn{
      padding: 4px 45px;
    }

    .aspectsBtn{
      margin: 10px 20px;
    }

    .GO{
      padding: 20px 50px;
    }

    .aspectsBtn:hover{
      transform: scale(105%);
    }

    .statisticDiv{
      font-size: 0.6rem;
    }

    .statisticDivWide{
      grid-column-end: 2;
      font-size: 0.6rem;
    }

    .divHeader{
      grid-column-end: 2;
    }

    .screenshot:hover{
      width: 19rem;
    }

    .btnContainer{
      padding: 15px;
    }

  }

}
